* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 0 1rem;
}

h1 {
  text-align: center;
}

.top {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

input {
  border: none;
  outline: none;
  width: 400px;
  padding: 0 0.5rem;
  border-bottom: 1px solid #000;
}
button {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}
.item {
  position: relative;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.813);
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
}
